:root {
  --small-gap: 5px;
  --medium-gap: 25px;
}
body {
  background-image: linear-gradient(
    to right,
    #1d15dd,
    #0051ef,
    #0071f0,
    #008ce6,
    #00a2d8,
    #00a1d6,
    #009fd4,
    #009ed2,
    #0085da,
    #0069dd,
    #0048d6,
    #2709bf
  );
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
form {
  background-color: #c1c2f17a;
  border: 1px solid;
  box-shadow: 5px 5px;
  height: auto;
  max-width: max-content;
  padding: 1em;
}
footer {
  background-color: #fff;
  border-top: 2px #221811 solid;
  font-size: 0.5rem;
  font-style: italic;
  margin: top 10px;
  padding-bottom: 10px;
  text-align: center;
}

table {
  border: 3px solid rgb(200, 200, 200) olive;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.6rem;
  letter-spacing: 1px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 900px;
}
thead {
  font-weight: bold;
}
label {
  font-style: italic;
}
h1,
h2,
h3 {
  text-align: center;
}
td,
th {
  border: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid olive;
  font-family: Arial, sans-serif;
  padding: 0.5em;
  text-align: center;
}
tr:nth-of-type(even) {
  background-color: #f8fcf7;
}
tr:first-of-type {
  background-color: #f3eadf;
}
tr:hover {
  background-color: #13e4f3;
}
select {
  background-color: whitesmoke;
  width: 150px;
}

.button {
  background-color: rgb(6, 87, 30);
  border-color: white;
  border-radius: 10px;
  color: whitesmoke;
  padding: 8px;
}
.button:hover {
  border-radius: 52% 48% 45% 55% / 30% 30% 70% 70%;
}
.button-reset {
  background-color: red;
}
.center {
  margin: auto;
  padding: 10px;
  width: 40%;
}
.form {
  background-color: wheat;
  border: 1px solid;
  box-shadow: 2px 5px;
  gap: var(--small-gap);
  height: auto;
  max-width: min-content;
  padding: 1em;
}

.flex {
  display: flex;
  margin: 0.5rem;
}

.flex-align {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
  gap: var(--medium-gap);
}

.flex-justify--content {
  justify-content: space-between;
  width: 100%;
}
