:root {
  --small-gap: 5px;
  --medium-gap: 25px;
}
body {
  background-image: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
form {
  background-color: #c1c2f17a;
  border: 1px solid;
  box-shadow: 5px 5px;
  height: auto;
  max-width: max-content;
  padding: 1em;
}
footer {
  background-color: #fff;
  border-top: 2px #221811 solid;
  font-size: 0.5rem;
  font-style: italic;
  margin: top 10px;
  padding-bottom: 10px;
  text-align: center;
}
h1,
h2,
h3 {
  text-align: center;
}
p {
  font-weight: bold;
}
table {
  border: 3px solid rgb(200, 200, 200) olive;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.6rem;
  letter-spacing: 1px;
  margin: auto;
  margin: top 55px;
  margin-bottom: 100px;
  width: 900px;
}
thead {
  font-weight: bold;
}
label {
  font-style: italic;
  font-weight: bold;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid olive;
  font-family: Arial, sans-serif;
  padding: 0.5em;
  text-align: center;
}
tr:nth-of-type(even) {
  background-color: #67acfa;
}
tr:first-of-type {
  background-color: #c1c2f17a;
}
tr:hover {
  background-color: #13e4f3;
}
select {
  background-color: whitesmoke;
  width: 150px;
}

.button {
  background-color: rgb(6, 87, 30);
  border-color: white;
  border-radius: 10px;
  color: whitesmoke;
  padding: 8px;
}
.button:hover {
  border-radius: 52% 48% 45% 55% / 30% 30% 70% 70%;
}
.button-reset {
  background-color: red;
}
.button-simple {
  background-color: rgb(11, 132, 238);
}
.center {
  margin: auto;
  margin-left: 550px;
  padding: 10px;
  width: 400px;
}
.div {
  background-color: rgb(143, 202, 236);
  border-color: #221811;
  border-style: solid;
  padding: 10px;
}
.form {
  background-color: #c1c2f17a;
  border: 1px solid;
  box-shadow: 2px 5px;
  gap: var(--small-gap);
  height: auto;
  max-width: min-content;
  padding: 1em;
}

.flex {
  display: flex;
  margin: 0.5rem;
}

.flex-align {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
  gap: var(--medium-gap);
}

.flex-justify--content {
  justify-content: space-between;
  width: 98%;
}
